@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg: #151c2f;
  --second-bg: #9097b1;
  --btn-color: #83ace7;
  --text: #fff;
}

html {
  scroll-padding-top: var(--scroll-padding, 50px);
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

/* NAV CSS */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: var(--text);
  font-size: 25px;
  font-weight: 600;
  cursor: default;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 25px;
}

.nav-item {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.nav-item a {
  color: var(--text);
  transition: .5s ease;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s ease;
}

.nav-item:hover a,
.nav-item.active a {
  color: var(--btn-color);
  text-shadow: 0 0 10px 0 var(--btn-color);
}

.nav-item .garis {
  width: 40%;
  height: 4px;
  border-radius: 20px;
  background-color: var(--text);
  transition: 0.5s ease;
}

.nav-item:hover .garis,
.nav-item.active .garis {
  width: 100%;
  background-color: var(--btn-color);
  box-shadow: 0 0 10px 0 var(--btn-color);
}

/* Nanti buat kalo udah RESPONSIVE - dinyalakan */
#menu-icon {
  display: none;
}

/* HOME CSS */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  padding: 0 100px;
  background: linear-gradient(174deg, #151C2F 39.74%, #B5BEDF 93.72%);
  height: 592px;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 21px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text);
}

.text h3 {
  font-size: 28px;
  font-weight: 500;
}

.show-animation .text h3 {
  animation: fromTop 1s ease-in forwards;
}

.text h2 {
  font-size: 53px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.53px;
}

.show-animation .text h2 {
  animation: fromLeft 1s ease-in forwards;
}

.text h4 {
  font-size: 22px;
  font-weight: 500;
  opacity: 0;
}

.show-animation .text h4 {
  animation: fromBottom 1s ease forwards;
}

.sosial-media {
  display: flex;
  gap: 20px;
  opacity: 0;
}

.show-animation .sosial-media {
  animation: fadeIn 2s ease forwards;
}

.sosial-media a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 4px solid var(--btn-color);
  border-radius: 50%;
  font-size: 30px;
  color: var(--btn-color);
}

.sosial-media a:hover {
  background: var(--btn-color);
  color: var(--bg);
  box-shadow: 0 0 1rem var(--btn-color);
}

.download {
  display: flex;
  gap: 10px;
  opacity: 0;
}

.show-animation .download {
  animation: fadeIn 3s ease forwards;
}

.btn {
  padding: 5px 20px;
  color: var(--text);
  font-size: 20px;
  font-weight: 600;
  border-radius: 18px;
  border: 2px solid var(--btn-color);
  background: var(--btn-color);
  box-shadow: 0px 0px 10px 0px var(--btn-color);
  transition: .5s ease;
  opacity: 0;
}

.show-animation .btn {
  animation: fadeIn 1s forwards;
  animation-delay: 0.3s;
}

.btn:hover {
  background: var(--btn-color);
  box-shadow: none;
}

.show-animation .home-img {
  animation: fromRight 1s ease-in forwards;
}

/* About CSS */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 110px;
  gap: 80px;
  margin-top: -5px;
  background-color: var(--second-bg);
}

.about-img img {
  width: 650px;
  opacity: 0;
}

.show-animation .about-img img {
  animation: popUp 1.2s forwards;
}

.content-about .text-about {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 20px;
}

.heading {
  font-size: 53px;
  font-weight: 600;
  line-height: 58px;
  color: var(--text);
  opacity: 0;
}

.show-animation .heading {
  animation: fromTop 1s ease forwards;
}

.content-about p {
  text-indent: 10px;
  color: var(--text);
  font-size: 22px;
  opacity: 0;
}

.show-animation .content-about p {
  animation: fromRight 1s ease forwards;
}

/* Projects CSS*/
.projects {
  padding: 70px 100px;
  background: linear-gradient(6deg, #151C2F 39.74%, #B5BEDF 93.72%);
  /* height: 592px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.projects .heading {
  margin-bottom: 35px;
}

.projects-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 70px;
  opacity: 0;
}

.show-animation .projects-item {
  animation: fromTop 1s ease forwards;
  animation-delay: 0.3s;
}

.projects-item .project-box {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 1 var(--bg);
  display: flex;
  overflow: hidden;
}

.project-box img {
  width: 100%;
  transition: .5s ease;
}

.project-box:hover img {
  transform: scale(1.1);
}

.project-box .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  transform: translateY(100%);
  transition: .5s ease;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 40%, #83ACE7 100%);
  color: var(--text);
}

.project-box:hover .overlay {
  transform: translateY(0);
}

.overlay h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-shadow: 0 0 1px black;
}

.overlay p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  text-shadow: 0 0 1px black;
}

.overlay i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--text);
  border-radius: 50%;
  font-size: 20px;
  color: var(--bg);
}

/* Contact CSS */
.contact {
  background-color: #7D859E;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}

form {
  max-width: 100%;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 50px;
  opacity: 0;
}

.show-animation form {
  animation: fromTop 1s ease forwards;
  animation-delay: .2s;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 10px
}

.contact form .input-box input,
.contact form textarea {
  padding: 5px 10px;
  font-size: 20px;
  color: var(--text);
  background: var(--second-bg);
  border-radius: 10px;
  border: 1px solid var(--text);
}

.contact form textarea {
  resize: none;
  width: 100%;
  margin-bottom: 10px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contact form .btn {
  cursor: pointer;
}

/* Footer CSS */
.footer {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--bg);
}

.footer-text p {
  color: var(--text);
  font-size: 20px;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--btn-color);
  border-radius: 10px;
  transition: .5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 10px var(--btn-color);
}

.footer-iconTop a i {
  font-size: 20px;
  color: var(--text);
}

/* Animation */
.fromTop {
  animation: fromTop 1s ease forwards;
}

/* Keyframes */
@keyframes fromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  80% {
    opacity: 1;
    transform: scale(1.02);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* RESPOSIVE */
/* Laptop 1024px */
@media (max-width: 1024px) {
  header {
    padding: 10px 50px;
  }

  .logo {
    color: var(--text);
    font-size: 20px;
  }

  .navigation {
    padding: 5px 10px;
    gap: 15px;
  }

  .nav-item {
    padding: 0 10px;
  }

  .nav-item a {
    font-size: 18px;
  }

  /* Home 1024 */
  .home {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: -5px;
  }

  .text {
    width: 90%;
  }

  .home-content {
    gap: 25px;
  }

  .home-img img {
    width: 430px;
  }

  .text h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 36px;
  }

  .text h3 {
    font-size: 20px;
  }

  .text h4 {
    font-size: 15px;
  }

  .sosial-media a {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-width: 3px;
  }

  .download {
    flex-direction: column;
    gap: 10px;
  }

  .download .btn {
    width: 51%;
  }

  .btn {
    padding: 5px 15px;
    font-size: 18px;
    transition: .5s ease;
    opacity: 1;
  }

  /* About CSS 1024*/
  .about {
    padding: 30px 55px;
    gap: 40px;
    margin-top: -62px;
    background-color: var(--second-bg);
  }

  .about-img img {
    width: 400px;
    opacity: 1;
  }

  .show-animation .about-img img {
    animation: none;
  }

  .content-about .text-about {
    gap: 15px;
    margin-bottom: 20px;
  }

  .heading {
    font-size: 43px;
    opacity: 1;
  }

  .show-animation .heading {
    animation: none;
  }

  .content-about p {
    text-indent: 10px;
    color: var(--text);
    font-size: 15px;
    opacity: 1;
  }

  .show-animation .content-about p {
    animation: noe;
  }

  /* Projects CSS 1024*/
  .projects {
    padding: 0px 50px;
    gap: 35px;
    height: 450px;

  }

  .projects .heading {
    margin-bottom: 28px;
    opacity: 1;
  }

  .projects-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
    opacity: 1;
  }

  .show-animation .projects-item {
    animation: none;
  }


  .project-box .overlay {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
  }

  .overlay h3 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
  }

  .overlay p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .overlay i {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  /* Contact CSS 1024*/
  .contact {
    padding: 15px 50px;
  }

  .contact h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 1;
  }

  .contact form {
    margin-bottom: 40px;
    opacity: 1;
  }

  .show-animation form {
    animation: none;
  }

  .contact form .input-box input,
  .contact form textarea {
    padding: 5px 10px;
    font-size: 18px;
  }

  .contact form textarea {
    margin-bottom: 8px;
  }

  /* Footer CSS 1024*/
  .footer {
    padding: 10px 50px;
  }

  .footer-text p {
    font-size: 15px;
  }

  .footer-iconTop a {
    padding: 5px;
  }

  .footer-iconTop a i {
    font-size: 25px;
  }


  /* Nutup 1024px*/
}

/* Tablet 768px */
@media (max-width: 768px) {
  header {
    padding: 8px 30px;
  }

  .logo {
    color: var(--text);
    font-size: 18px;
  }

  #menu-icon {
    display: block;
    color: var(--text);
    font-size: 36px;
  }

  .navigation {
    position: fixed;
    z-index: 99;
    top: 55px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg);
    display: none;
    padding: 10px 30px;
  }

  .navigation.active {
    display: block;
  }

  .nav-item a {
    padding: 5px 10px;
    font-size: 20px;
  }

  .nav-item .garis {
    display: none;
  }

  /* Home 768 */
  .home {
    padding: 130px 30px 50px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: auto;

  }

  .text {
    width: 100%;
    text-align: center;
  }

  .home-img img {
    display: none;
  }

  .text h2 {
    font-size: 40px;
    font-weight: 600;
  }

  .text h3 {
    font-size: 30px;
  }

  .text h4 {
    font-size: 20px;
  }

  .sosial-media {
    justify-content: center;
  }

  .sosial-media a {
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-width: 3px;
  }

  .download {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .download .btn {
    width: auto;
  }

  .btn {
    padding: 5px 15px;
    font-size: 15px;
    transition: .5s ease;
  }

  /* About CSS 768*/
  .about {
    padding: 30px 40px;
    gap: 0px;
    margin-top: 0px;
    background-color: var(--second-bg);
    flex-direction: column;
  }

  .about-img img {
    width: 400px;
  }

  .content-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-about .text-about {
    text-align: center;
    margin-bottom: 15px;
  }

  .heading {
    font-size: 35px;
  }

  .content-about p {
    text-indent: 10px;
    color: var(--text);
    font-size: 13px;
  }

  /* Projects CSS 768*/
  .projects {
    padding: 30px 30px;
    gap: 25px;
    height: 450px;
    /* height: auto; */
  }

  .projects .heading {
    margin-bottom: 25px;
  }

  .projects-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .project-box .overlay {
    padding: 5px 6px;
    display: flex;
    flex-direction: column;
  }

  .overlay h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  .overlay p {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .overlay i {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  /* Contact CSS 768*/
  .contact {
    padding: 10px 30px;
  }

  .contact h2 {
    margin-top: 20px;
    margin-bottom: 18px;
  }

  .contact form {
    margin-bottom: 35px;
  }

  .contact form .input-box input,
  .contact form textarea {
    padding: 5px 10px;
    font-size: 15px;
  }

  .contact form textarea {
    margin-bottom: 10px;
  }

  /* Footer CSS 768*/
  .footer {
    padding: 10px 30px;
  }

  .footer-text p {
    font-size: 13px;
  }

  .footer-iconTop a {
    padding: 5px;
  }

  .footer-iconTop a i {
    font-size: 20px;
  }

  /* Nutup 768px*/
}

/* Custom 479px */
@media (max-width: 479px) {
  /* Home 479 */

  /* About CSS 479*/
  .about .text-about {
    gap: 0px;
  }

  .about-img img {
    width: 360px;
  }

  /* Projects CSS 479*/
  .projects {
    height: auto;
  }

  .projects .heading {
    margin-bottom: 0px;
  }

  .projects-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .project-box .overlay {
    padding: 5px 20px;
  }

  .overlay h3 {
    font-size: 30px;
  }

  .overlay p {
    font-size: 14px;
  }

  .overlay i {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  /* Contact CSS 479*/

  .contact form .input-box input {
    width: 100%;
  }

  /* Nutup 479px*/
}

/* Mobile L 425px */
@media (max-width: 425px) {
  header {
    padding: 6px 30px;
  }

  .logo {
    font-size: 15px;
  }

  #menu-icon {
    font-size: 34px;
  }

  .navigation {
    width: 100%;
    top: 45px;
  }

  .nav-item a {
    padding: 5px 10px;
    font-size: 17px;
  }


  /* Home 425 */
  .home {
    height: auto;
    padding: 150px 0 50px;
  }

  .text {
    gap: 5px;
  }

  .text h2 {
    font-size: 35px;
  }

  .text h3 {
    font-size: 25px;
  }

  .text h4 {
    font-size: 15px;
  }


  .sosial-media a {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-width: 2px;
  }

  .download {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .btn {
    padding: 3px 10px;
    font-size: 13px;
    transition: .5s ease;
  }

  /* About CSS 425*/
  .about-img img {
    width: 300px;
  }

  .content-about .text-about {
    margin-bottom: 13px;
  }

  .heading {
    font-size: 30px;
  }

  .content-about p {
    font-size: 12px;
  }

  /* Projects CSS 425*/
  .projects {
    padding: 30px 30px;
    gap: 25px;
    height: auto;
  }

  .projects .heading {
    margin-bottom: 0px;
  }

  .projects-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .project-box .overlay {
    padding: 5px 30px;
  }

  .overlay h3 {
    font-size: 30px;
  }

  .overlay p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .overlay i {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  /* Contact CSS 425*/

  .contact h2 {
    margin-bottom: 0px;
  }

  .contact form {
    width: 100%;
  }

  .contact form .input-box {
    flex-direction: column;
  }

  .contact form .input-box input,
  .contact form textarea {
    padding: 5px 15px;
    font-size: 13px;
  }

  /* Footer CSS 425*/
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 5px;
  }

  .footer-text p {
    font-size: 12px;
  }

  .footer-iconTop a {
    padding: 4px;
  }

  .footer-iconTop a i {
    font-size: 18px;
  }

  /* Nutup 425px*/
}

/* Mobile M 375px */
@media (max-width: 375px) {
  header {
    padding: 5px 20px;
  }

  .logo {
    font-size: 12px;
  }

  #menu-icon {
    font-size: 28px;
  }

  .navigation {
    top: 38px;
  }

  .nav-item a {
    padding: 4px 10px;
    font-size: 14px;
  }

  /* Home 375 */
  .home {
    height: auto;
    padding: 120px 20px 50px;
  }

  .home-content {
    gap: 15px;
  }

  .text {
    gap: 2px;
  }

  .text h2 {
    font-size: 32px;
  }

  .text h3 {
    font-size: 22px;
  }

  .text h4 {
    font-size: 13px;
  }

  .sosial-media a {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-width: 2px;
  }

  .download {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .btn {
    padding: 3px 10px;
    font-size: 13px;
    transition: .5s ease;
  }

  /* About CSS 375*/
  .about {
    padding: 30px 20px;
  }

  .about-img img {
    width: 280px;
  }

  .content-about .text-about {
    margin-bottom: 13px;
  }

  .heading {
    font-size: 29px;
  }

  .content-about p {
    font-size: 12px;
  }

  /* Projects CSS 375 */
  .projects {
    padding: 20px 30px;
    gap: 20px;
    height: auto;
  }

  .projects-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
  }

  .project-box .overlay {
    padding: 5px 30px;
  }

  .overlay h3 {
    font-size: 28px;
  }

  .overlay p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .overlay i {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  /* Contact CSS 375*/
  .contact form .input-box input,
  .contact form textarea {
    padding: 5px 12px;
  }

  /* Footer CSS 375*/
  .footer-text p {
    font-size: 11px;
  }

  .footer-iconTop a {
    padding: 3px;
  }

  .footer-iconTop a i {
    font-size: 17px;
  }

  /* Nutup 375px*/
}

/* Mobile S 320px */
@media (max-width: 320px) {
  header {
    padding: 5px 15px;
  }

  .logo {
    font-size: 11px;
  }

  #menu-icon {
    font-size: 25px;
  }

  .navigation {
    top: 34px;
  }

  .nav-item a {
    font-size: 12px;
  }

  /* Home 320 */
  .home {
    height: auto;
    padding: 110px 15px 30px;
  }

  .home-content {
    gap: 10px;
  }

  .text {
    gap: 1px;
  }

  .text h2 {
    font-size: 32px;
  }

  .text h3 {
    font-size: 20px;
  }

  .text h4 {
    font-size: 11px;
  }

  .sosial-media a {
    width: 25px;
    height: 25px;
    font-size: 14px;
    border-width: 2px;
  }

  .download {
    gap: 5px;
  }

  .btn {
    padding: 0px 10px;
    font-size: 12px;
  }

  /* About CSS 320*/
  .about {
    padding: 30px 15px;
  }

  .about-img img {
    width: 250px;
  }

  .content-about .text-about {
    gap: 13px;
    margin-bottom: 10px;
  }

  .content-about .text-about h2 {
    font-size: 26px;
  }

  .heading {
    font-size: 26px;
  }

  .content-about p {
    font-size: 11px;
  }

  /* Projects CSS 320 */
  .projects {
    padding: 20px 25px;
    gap: 15px;
  }

  .projects-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .project-box .overlay {
    padding: 5px 25px;
  }

  .overlay h3 {
    font-size: 25px;
  }

  .overlay p {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .overlay i {
    width: 28px;
    height: 28px;
    font-size: 13px;
  }

  /* Contact CSS 320*/
  .contact form {
    margin-bottom: 30px;
  }

  .contact form .input-box input,
  .contact form textarea {
    padding: 5px 10px;
    font-size: 13px;
  }

  /* Footer CSS 320*/
  .footer-text p {
    font-size: 9px;
  }

  .footer-iconTop a {
    padding: 3px;
    border-radius: 25%;
  }

  .footer-iconTop a i {
    font-size: 11px;
  }

  /* Nutup 320px*/
}